@tailwind base;
@tailwind components;
@tailwind utilities;

/* Input container */
.input-container {
    margin-bottom: 2rem;
    height: 4rem;
}

/* Input label */
.input-label {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: 0.813rem;
    padding: .30rem;
    background-color: hsl(0, 0%, 100%);
    z-index: 10;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

/* Input field */
.input {
    width: 100%;
    height: 100%;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: hsl(0, 0%, 46%);
    outline: none;
    border-radius: 1.2rem;
    padding: 1.5rem;
    padding-left: 3rem;
}

/* Media query for small screens */
@media screen and (max-width: 390px) {
    .input-container {
        margin-bottom: 1.9rem;
        height: 3rem;
    }

    .input {
        padding-left: 2.5rem;
    }
}